/*CSS初始化 Begin*/
html
  font-size calc(100vw/3.75)
  min-height 100%

body
  font: normal normal 0.14rem/1.5 "microsoft yahei","simhei","simsun"
  color: #666
  background: #F9F7F7
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input, button 
  margin: 0
  padding: 0

fieldset, img, input, button, div, h2 
  border: none
  outline-style: none

ul, ol 
  list-style: none

select, input img
  vertical-align: middle

select, input, textarea 
  font-size: 0.12rem
  margin: 0

textarea 
  resize: none

a 
  color: inherit
  text-decoration: none

a:hover 
  color: inherit

h1, h2, h3, h4, h5, h6 
  text-decoration: none
  font-weight: normal
  font-size: 0.16rem

s, i, em 
  font-style: normal
  text-decoration: none
/*CSS初始化 End*/

/*公共类 Begin*/
.clearfix:after 
  content: ""
  height: 0
  line-height: 0
  display: block
  visibility: hidden
  clear: both

.clearfix 
  zoom: 1

.fl 
  float: left

.fr 
  float: right

.pr 
  position: relative

.pa 
  position: absolute
/*公共类 End*/

.tmpl
  padding: .4rem 0rem .7rem
